@import url(../../node_modules/chota/src/chota.css);
@import url(../fontello/css/lcc.css);
@import url(../fontello/css/animation.css);

:root {
    --color-primary: #5783db;
    --color-grey: #3e9a80;
    --color-darkGrey: #80669d;
    --color-success: #33b249;
}

.btn-cursor {
    cursor: pointer;
}