@font-face {
  font-family: 'lcc';
  src: url('../font/lcc.woff2?72828672');
  src: url('../font/lcc.woff2?72828672') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'lcc';
    src: url('../font/lcc.svg?72828672#lcc') format('svg');
  }
}
*/
[class^="lcc-"]:before, [class*=" lcc-"]:before {
  font-family: "lcc";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.lcc-dismiss:before { content: '\e800'; } /* '' */
.lcc-up:before { content: '\e801'; } /* '' */
.lcc-down:before { content: '\e802'; } /* '' */
.lcc-pencil:before { content: '\e803'; } /* '' */
.lcc-plus:before { content: '\e804'; } /* '' */
.lcc-down-open:before { content: '\f004'; } /* '' */
.lcc-to-end:before { content: '\f010'; } /* '' */
.lcc-to-start:before { content: '\f011'; } /* '' */
.lcc-fast-forward:before { content: '\f012'; } /* '' */
.lcc-fast-backward:before { content: '\f013'; } /* '' */
.lcc-spinner:before { content: '\f110'; } /* '' */
.lcc-search:before { content: '\f50d'; } /* '' */
